<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello Vue World</title>
	<link rel="stylesheet" href="./style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

	<div id="app">

		<h1>ToDo List</h1>
		<div class="app-buttons">
			<input class="newtask-input" :class="getValidation()" v-model="newTask.title" placeholder="Title" />
			<br />
			<textarea v-model="newTask.description" placeholder="Description"></textarea>
			<br />
			<label>
				<input type="checkbox" v-model="newTask.completed" />
				<span>Completed</span>
			</label>
			<br />

			<button :disabled="newTask.title.trim().length < 3" @click="addTask">Aggiungi task</button>
			<button @click="clearTasks">Svuota lista</button>
		</div>
		<div class="todo-list">
			<div class="todo-item" v-for="todoItem, i of todoList">
				<h2 :class="{ 'todo-item-done': todoItem.completed }">{{todoItem.id}}. {{ todoItem.title }}</h2>
				<p>{{ todoItem.description }}</p>
				<p>{{ todoItem.completed ? "COMPLETATO" : "NON COMPLETATO" }}</p>
				<button @click="event => { toggleTask(todoItem.id) } ">
					{{ todoItem.completed ? "Rimuovi completamento" : "Marca come completato" }}
				</button>
				<button @click="event => { clearTask(event, todoItem.id, i) } ">ELIMINA TASK</button>
				<div>
					<component :is="dynamicTagName">
						Questo è un {{ dynamicTagName }}
						<br />
						<button @click="changeDynamicTag">Cambio type</button>
					</component>
				</div>
			</div>
		</div>

	</div>
	<script src="./main.js"></script>

</body>

</html>