* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	background-color: #222;
	color: white;
}

.newtask-input {
	border: solid 2px transparent;
	outline: none;
}

.newtask-input-error {
	border-color: crimson;
}

.newtask-input-success {
	border-color: limegreen;
}

.todo-item-done {
	text-decoration: line-through;
}